.margin-card-left{
  margin-right: 20px;
  width: 50%;
  margin-left: auto;
}
.margin-card-right{
  margin-left: 20px;
  width: 50%;
  margin-right: auto;
}
.margin-finance-card{
  margin: auto;
  justify-content: center;
  justify-items: center;
  display:flex;
  align-items: center;
}
